body {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
}
.jumbotron {
  margin-bottom: 0;
  background-color: transparent;
}
.jumbotron p {
  font-weight: 200;
  font-size: 16px;
}
.jumbotron p,
.jumbotron h2 {
  color: #444;
}
.jumbotron pre {
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #b1d0d1;
  max-width: 600px;
}
#big-logo {
  display: block;
  width: 250px;
  height: 250px;
}
ul {
  padding-left: 20px;
}
li {
  line-height: 1.8;
}
