@import fn

textColor = #444

body
  color         textColor

.jumbotron
  // color         white
  // bg            color #FF7379
  display       block

  p
  h2
    color       textColor

  article
  aside
    float       left
    width       50%

#big-logo
  display       block
  size          250px 250px
  background    transparent url('../assets/kites.250.png') scroll no-repeat 0 0

ul
  padding-left  20px

li
  line-height   1.8