@import fn

textColor = #444

body
  color         textColor
  background    transparent url('../assets/kites.1000.png') scroll no-repeat 0 -100px

h1, h2, h3, h4, h5, h6
  font-family   'Exo 2', sans-serif
  font-weight   200

.jumbotron
  margin-bottom 0

  p
    font-weight 200
    font-size   16px

  p
  h2
    color       textColor

  pre
    bg          color rgba(255,255,255,.5)
    border      1px solid #B1D0D1
    max-width   500px


#big-logo
  display       block
  size          250px 250px
  background    transparent url('../assets/kites.250.png') scroll no-repeat 0 0

ul
  padding-left  20px

li
  line-height   1.8